<div class= "container">


<div class="d-flex justify-content-between pt-5">
<h2 class="pt-5"><%= @watchlist.title %></h2>
<div class="review-actions">
  <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
  <a href="#">Delete <i class="far fa-trash-alt"></i></a>
</div>
</div>

<% favorite_movies = @watchlist.user.all_favorited(scope: :favorites) %>




<div class="d-flex justify-content-center flex-wrap">

<% favorite_movies.each do |movie| %>
<div class="card-trip m-3">
  <%= link_to movie, class: 'clear-link' do %>
    <% if movie.photo.attached? %>
      <%= cl_image_tag movie.photo.key, height: 300, width: 200, crop: :scale, class:"card-img-top"%>
    <% end %>
    <div class="card-trip-infos col">
      <div>
        <h2><%= movie.title %></h2>
        <p><%= movie.year %></p>
      </div>
    </div>
  <% end %>
</div>

<% end %>






</div>
</div>

