<div class="container navbar mt-5">
  <ul class="list-group list-group-horizontal gap-0">
    <a>
      <%= link_to "Todas", movies_path(todas: true), class: ((params[:todas]== "true" ? "default1_button" : "list-group-item border-0 p-2")), data: { turbo_action: "advance", turbo_frame: "_top"}%>
    </a>
    <a>
      <%= link_to "Películas", movies_path(pelicula: true), class: ((params[:pelicula]== "true" ? "default1_button" : "list-group-item border-0 p-2")), data: { turbo_action: "advance", turbo_frame: "_top"}%>
    </a>
    <a>
      <%= link_to "Series", movies_path(series: true), class: ((params[:series]== "true" ? "default1_button" : "list-group-item border-0 p-2")), data: { turbo_action: "advance", turbo_frame: "_top"}%>
    </a>
  </ul>
  <% @genres = @movies.map do |movie| %>
  <% movie.genre %>
  <% end %>
  <% @platforms = ["Star+", "Netflix", "Disney+", "HBO Max", "Amazon Prime"] %>
  <div>
    <%= form_with(url: movies_path, method: :get, class: "mb-4") do |f| %>
      <ul class="list-group list-group-horizontal">
          <li class="list-group-item border-0 p-2"><%= f.select :año, ([""] + (1960..2023).to_a), label: false %>Año<i class="fa-sharp fa-regular fa-chevron-down"></i>
          <li class="list-group-item border-0 p-2"><%= f.select :genero, ([""] + @genres.uniq), label: false %>Género<i class="fa-sharp fa-regular fa-chevron-down"></i>
          <li class="list-group-item border-0 p-2"><%= f.select :plataforma, ([""] + @platforms), label: false %>Plataforma<i class="fa-sharp fa-regular fa-chevron-down"></i>
          <%= f.button :submit %>
      </ul>
    <% end %>
  </div>
</div>

<div class="container d-flex justify-content-center flex-wrap">
  <% if params[:series] == "true" %>
    <% @movies.where(series: true).each do |movie| %>
      <div class="card-trip m-3">
        <%= link_to movie, class: 'clear-link' do %>
          <% if movie.photo.attached? %>
            <%= cl_image_tag movie.photo.key, height: 300, width: 200, crop: :scale, class:"card-img-top"%>
          <% end %>
            <div class="card-trip-infos col">
              <div>
                <h2><%= movie.title %></h2>
                <p><%= movie.year %></p>
              </div>
            </div>
        <% end %>
      </div>
    <% end %>
  <% elsif params[:pelicula] == "true" %>
    <% @movies.where(series: false).order(title: :desc).each do |movie| %>
      <div class="card-trip m-3">
        <%= link_to movie, class: 'clear-link' do %>
          <% if movie.photo.attached? %>
            <%= cl_image_tag movie.photo.key, height: 300, width: 200, crop: :scale, class:"card-img-top"%>
          <% end %>
            <div class="card-trip-infos col">
              <div>
                <h2><%= movie.title %></h2>
                <p><%= movie.year %></p>
              </div>
            </div>
        <% end %>
      </div>
    <% end %>

  <% else %>
  <% @movies.each do |movie| %>
  <div class="card-trip m-3">
    <%= link_to toggle_favorite_movie_path(movie), data: {'turbo-method' => :post },class: "watchlist" do %>
      <i data-favorites-target="heart" class="fa-solid fa-bookmark"></i>
    <% end %>
    <%= link_to toggle_favorite_movie_path(movie), data: { controller: "favorites",'turbo-method' => :post, 'favorites-target' => "heart", action: "click->favorites.toggleHeartButton"},class: "heart" do %>
    <i  class="fa-solid fa-heart"></i>
    <% end %>
    <%= link_to movie, class: 'clear-link' do %>
      <% if movie.photo.attached? %>
        <%= cl_image_tag movie.photo.key, height: 300, width: 200, crop: :scale, class:"card-img-top"%>
      <% end %>
          <div class="card-trip-infos">
            <div>
              <h2><%= movie.title %></h2>
              <p><%= movie.year %></p>
            </div>
          </div>
    <% end %>
  </div>
  <% end %>
  <% end %>
</div>
