<div class="container m-5">
  <div class="card-product">
    <%= cl_image_tag @movie.photo.key %>
    <div class="card-product-infos">
      <h2><%= @movie.title %></h2>
      <p><%= @movie.year %></p>
      <p><%= @movie.description %></p>
      <p>Users rating: <%= @movie.reviews.average(:rate).round %></p>
      <p><%= @movie.platform %></p>
    </div>
  </div>
  <% @movie.reviews.each do |review| %>
    <div class="review">
      <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
      <div class="review-content">
        <p><small>by <%= review.user.email %></small></p>
        <p><%= review.content %></p>
        <p><%= review.rate %></p>
        <span class="gl-star-rating gl-star-rating--ltr"></span>
      </div>
      <div class="review-actions">
        <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
        <a href="#">Delete <i class="far fa-trash-alt"></i></a>
      </div>
    </div>
  <% end %>
  <%= simple_form_for([@movie, @review]) do |f| %>
    <%= f.input :content %>
    <%= f.input :rate, collection: (1..5).to_a, label: "Rate your experience", input_html: {data: {controller: "star-rating"}} %>
    <%= f.button :submit %>
  <% end %>
</div>
