<div class="container m-5">
  <div class="card-product">
    <%= cl_image_tag @movie.photo.key %>
    <div class="card-product-infos">
      <h2><%= @movie.title %></h2>
      <p style="color:white;"><%= @movie.year %></p>
      <p><%= @movie.description %></p>
      <% if @movie.reviews.average(:rate) %>
        <p style="color:#FEB902;">Users rating: <%= rating = @movie.reviews.average(:rate).round %></p>
        <div class="stars-container">
          <%rating.times do %>
            <span class="star"></span>
          <% end %>
        </div>
      <% else %>
        <p style="color:#FEB902;">Users rating: N/A</p>
      <% end %>

      <%# <%= @movie.platform %>
        <%# <%= link_to "", "https://netflix.com" do %>
      <% if @movie.platform.include?("Netflix") %>
       <a href="http://netflix.com"><%= image_tag "netflix2.png", id: "logo-default"%></a>
      <% end %>
       <%# <% end %>
      <% if @movie.platform.include?("Amazon") %>
        <a href="http://primevideo.com"><%= image_tag "prime.png", id: "logo-default"%></a>
      <% end %>
      <% if @movie.platform.include?("Disney") %>
       <a href="http://disneyplus.com"><%= image_tag "disneyplus.png", id: "logo-default"%></a>
      <% end %>
      <% if @movie.platform.include?("HBO") %>
       <a href="http://hbomax.com"><%= image_tag "hbo4.png", id: "logo-default"%></a>
      <% end %>
      <% if @movie.platform.include?("Show") %>
       <a href="http://sho.com"><%= image_tag "show.png", id: "logo-default"%></a>
      <% end %>
    </div>
  </div>


    <%= simple_form_for([@movie, @review]) do |f| %>
      <%= f.input :content, :label => 'Comentar' %>
      <%= f.input :rate, collection: (1..5).to_a, label: "Califica tu experiencia", input_html: {data: {controller: "star-rating"}} %>
      <%= f.button :submit, "Crear Reseña", class: "default1_button" %>
    <% end %>
  <div class="card-body p-4">

    <p class="fw-light mb-4 pb-2">Comentarios recientes por usuarios</p>
      <% @movie.reviews.each do |review| %>
        <div class="review">
          <% if review.user.photo.attached? %>
            <%= cl_image_tag review.user.photo.key, gravity: :face, class: "avatar" %>
            <% else %>
              <%= image_tag "https://pps.whatsapp.net/v/t61.24694-24/352954811_652637243033971_6168741299642512531_n.jpg?stp=dst-jpg_s96x96&ccb=11-4&oh=01_AdQg-7-BE0VZf-uTqRYKowHYek4KDt3qPoebhmlbCaohvA&oe=649B94DA", class: "avatar", alt: "fallback avatar" %>
          <% end %>
        <div class="review-content">
          <p><small>by <%= review.user.email %></small></p>
          <p><%= review.content %></p>
          <div class="stars-container">
            <% review.rate.times do %>
              <span class="star"></span>
            <% end %>
          </div>

        </div>
        <div class="review-actions">
          <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
          <a href="#">Delete <i class="far fa-trash-alt"></i></a>
        </div>
  </div>
    <% end %>
</div>
</div>

