<div class="container mt-3">
  <div class="row">
    <div class="card-product">
    <div class="col-md-4">
      <%= cl_image_tag @movie.photo.key %>
    </div>
      <div class="col-md-8">
        <div class="card-product-infos">
          <h2><%= @movie.title %></h2>
          <p><%= @movie.description %></p>
          <p><%= @movie.platform %></p>
        </div>
      </div>
    </div>
  </div>

  <ul>
    <% @movie.reviews.each do |review| %>
      <li><p><%= review.content %></p></li>
      <li><p>by <%= review.user.email %></p></li>
    <% end %>
  </ul>

  <p>Rating: <%= @movie.reviews.average(:rate).to_f %></p>

  <%= simple_form_for([@movie, @review]) do |f| %>
    <%= f.input :content %>
    <%= f.input :rate, as: :check_boxes, collection: [1, 2, 3, 4, 5] %>
    <%= f.button :submit %>
  <% end %>
</div>
