<div class="mt-4 container">
  <div class="text-center">
    <img src="assets/logo.png">
  </div>
  <div class="row d-flex justify-content-center">
    <form id="form" class=" d-flex gap-3 w-50">
      <input placeholder="search movies" class="search-box py-2 form-control" value="">
      <button type="button" class="search-btn btn btn-primary" style="background: rgb(0, 206, 121); border: medium; color: black;">Search</button>
    </form>
    <div class="g-4 mt-3 row row-cols-lg-4 row-cols-md-3 row-cols-1">
    </div>
  </div>
  <br>
  <div class="genres d-flex flex-wrap " style="row-gap: 5px; column-gap: 15px; opacity: 1; transform: none;">
    <h3 style="opacity: 1; transform: none;"><span id="badge" class="badge bg-dark" style="cursor: pointer;">Action</span></h3>
    <h3 style="opacity: 1; transform: none;"><span id="badge" class="badge bg-dark" style="cursor: pointer;">Adventure</span></h3>
    <h3 style="opacity: 1; transform: none;"><span id="badge" class="badge bg-dark" style="cursor: pointer;">Animation</span></h3>
    <h3 style="opacity: 1; transform: none;"><span id="badge" class="badge bg-dark" style="cursor: pointer;">Comedy</span></h3>
    <h3 style="opacity: 1; transform: none;"><span id="badge" class="badge bg-dark" style="cursor: pointer;">Crime</span></h3>
    <h3 style="opacity: 1; transform: none;"><span id="badge" class="badge bg-dark" style="cursor: pointer;">Documentary</span></h3>
    <h3 style="opacity: 1; transform: none;"><span id="badge" class="badge bg-dark" style="cursor: pointer;">Drama</span></h3>
    <h3 style="opacity: 1; transform: none;"><span id="badge" class="badge bg-dark" style="cursor: pointer;">Family</span></h3>
    <h3 style="opacity: 1; transform: none;"><span id="badge" class="badge bg-dark" style="cursor: pointer;">Fantasy</span></h3>
    <h3 style="opacity: 1; transform: none;"><span id="badge" class="badge bg-dark" style="cursor: pointer;">History</span></h3>
    <h3 style="opacity: 1; transform: none;"><span id="badge" class="badge bg-dark" style="cursor: pointer;">Horror</span></h3>
    <h3 style="opacity: 1; transform: none;"><span id="badge" class="badge bg-dark" style="cursor: pointer;">Music</span></h3>
    <h3 style="opacity: 1; transform: none;"><span id="badge" class="badge bg-dark" style="cursor: pointer;">Mystery</span></h3>
    <h3 style="opacity: 1; transform: none;"><span id="badge" class="badge bg-dark" style="cursor: pointer;">Romance</span></h3>
    <h3 style="opacity: 1; transform: none;"><span id="badge" class="badge bg-dark" style="cursor: pointer;">Science Fiction</span></h3>
    <h3 style="opacity: 1; transform: none;"><span id="badge" class="badge bg-dark" style="cursor: pointer;">TV Movie</span></h3>
    <h3 style="opacity: 1; transform: none;"><span id="badge" class="badge bg-dark" style="cursor: pointer;">Thriller</span></h3>
    <h3 style="opacity: 1; transform: none;"><span id="badge" class="badge bg-dark" style="cursor: pointer;">War</span></h3>
    <h3 style="opacity: 1; transform: none;"><span id="badge" class="badge bg-dark" style="cursor: pointer;">Western</span></h3>
  </div>
  <div class="wrapper mt-4">
    <div class="g-4 row row-cols-lg-4 row-cols-md-3 row-cols-1">
      <div class="col">
        <div style="opacity: 1; transform: none;">
          <div class=" movie-card card" style="width: 100%; background: rgb(22, 22, 22); color: white; border-radius: 6px; position: relative;">
            <div class="card-body">
              <span class=" lazy-load-image-background blur lazy-load-image-loaded" style="color: transparent; display: inline-block; height: 350px; width: 100%;"><img src="https://image.tmdb.org/t/p/w500/2e7fc8eNwLXZ5Uvehvl3xj8wVyv.jpg" width="100%" height="350" alt="movie" style="object-fit: cover;"></span>
              <div class="text-center mt-3 card-title h5" style="cursor: pointer;">Fast X</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div style="opacity: 1; transform: none;">
          <div class=" movie-card card" style="width: 100%; background: rgb(22, 22, 22); color: white; border-radius: 6px; position: relative;">
            <div class="card-body">
              <span class=" lazy-load-image-background blur lazy-load-image-loaded" style="color: transparent; display: inline-block; height: 350px; width: 100%;"><img src="https://image.tmdb.org/t/p/w500/9n2tJBplPbgR2ca05hS5CKXwP2c.jpg" width="100%" height="350" alt="movie" style="object-fit: cover;"></span>
              <div class="text-center mt-3 card-title h5" style="cursor: pointer;">The Super Mario Bros. Movie</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div style="opacity: 1; transform: none;">
          <div class=" movie-card card" style="width: 100%; background: rgb(22, 22, 22); color: white; border-radius: 6px; position: relative;">
            <div class="card-body">
              <span class=" lazy-load-image-background blur lazy-load-image-loaded" style="color: transparent; display: inline-block; height: 350px; width: 100%;"><img src="https://image.tmdb.org/t/p/w500/nGxUxi3PfXDRm7Vg95VBNgNM8yc.jpg" width="100%" height="350" alt="movie" style="object-fit: cover;"></span>
              <div class="text-center mt-3 card-title h5" style="cursor: pointer;">Spider-Man: Across the Spider-Verse</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div style="opacity: 1; transform: none;">
          <div class=" movie-card card" style="width: 100%; background: rgb(22, 22, 22); color: white; border-radius: 6px; position: relative;">
            <div class="card-body">
              <span class=" lazy-load-image-background blur lazy-load-image-loaded" style="color: transparent; display: inline-block; height: 350px; width: 100%;"><img src="https://image.tmdb.org/t/p/w500/8FhKnPpql374qyyHAkZDld93IUw.jpg" width="100%" height="350" alt="movie" style="object-fit: cover;"></span>
              <div class="text-center mt-3 card-title h5" style="cursor: pointer;">Hypnotic</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div style="opacity: 1; transform: none;">
          <div class=" movie-card card" style="width: 100%; background: rgb(22, 22, 22); color: white; border-radius: 6px; position: relative;">
            <div class="card-body">
              <span class=" lazy-load-image-background blur lazy-load-image-loaded" style="color: transparent; display: inline-block; height: 350px; width: 100%;"><img src="https://image.tmdb.org/t/p/w500/9NgtktUFLm9cnFDFaekx2ROh84f.jpg" width="100%" height="350" alt="movie" style="object-fit: cover;"></span>
              <div class="text-center mt-3 card-title h5" style="cursor: pointer;">Transformers: Rise of the Beasts</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div style="opacity: 1; transform: none;">
          <div class=" movie-card card" style="width: 100%; background: rgb(22, 22, 22); color: white; border-radius: 6px; position: relative;">
            <div class="card-body">
              <span class=" lazy-load-image-background blur lazy-load-image-loaded" style="color: transparent; display: inline-block; height: 350px; width: 100%;"><img src="https://image.tmdb.org/t/p/w500/9t0tJXcOdWwwxmGTk112HGDaT0Q.jpg" width="100%" height="350" alt="movie" style="object-fit: cover;"></span>
              <div class="text-center mt-3 card-title h5" style="cursor: pointer;">The Black Demon</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div style="opacity: 1; transform: none;">
          <div class=" movie-card card" style="width: 100%; background: rgb(22, 22, 22); color: white; border-radius: 6px; position: relative;">
            <div class="card-body">
              <span class=" lazy-load-image-background blur lazy-load-image-loaded" style="color: transparent; display: inline-block; height: 350px; width: 100%;"><img src="https://image.tmdb.org/t/p/w500/ribiMu3iINPxDkofErPxe8jQ8L0.jpg" width="100%" height="350" alt="movie" style="object-fit: cover;"></span>
              <div class="text-center mt-3 card-title h5" style="cursor: pointer;">The Little Mermaid</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div style="opacity: 1; transform: none;">
          <div class=" movie-card card" style="width: 100%; background: rgb(22, 22, 22); color: white; border-radius: 6px; position: relative;">
            <div class="card-body">
              <span class=" lazy-load-image-background blur lazy-load-image-loaded" style="color: transparent; display: inline-block; height: 350px; width: 100%;"><img src="https://image.tmdb.org/t/p/w500/94TIUEhuwv8PhdIADEvSuwPljS5.jpg" width="100%" height="350" alt="movie" style="object-fit: cover;"></span>
              <div class="text-center mt-3 card-title h5" style="cursor: pointer;">Sisu</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<hr>
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= simple_form_for :search, url: root_path, method: :get do |f| %>
  <div class="search-form-control form-group">
    <%= f.input :query, input_html: { class: 'form-control string required', id: 'search_query' }, label: false %>
    <%= f.button :submit, class: 'btn btn-flat' do %>
      <i class="fas fa-search"></i> Search
    <% end %>
  </div>
<% end %>
<% results = PgSearch.multisearch(params[:search][:query]) if params[:search] && params[:search][:query].present? %>
<% if results %>
  <% results.each do |result| %>
    <% movie = result.searchable %>
    <p><%= movie.title %></p>
    <% if movie.photo.present? %>
      <%= cl_image_tag movie.photo.key, height: 300, width: 200, crop: :scale %>
    <% else %>
      <p>No hay imagen</p>
    <% end %>
  <% end %>
<% end %>
